.headerbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #dadada;  */
    color: #303a89; 
    padding: 10px 20px; 

}

.logo{
    font-size: 28px;
    margin-left: 10%;
}
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-transform: uppercase;
    gap: 20px;
    font-size: 16px;
    padding: 0%;
    margin-right: 40%;

    
}

li:hover{
    text-decoration: underline;
    cursor: pointer;
}
:root{
    font-family:  'Open Sans';
}

img{
    width: 100%;
    height: auto;
    display: block;
}
.imgcontainer{
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.imagetext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* font-size: 40px; */
    display: flex;
    padding: 2% 4%;
    font-size: 2em;
  

}
.bold{
    
    font-weight:800 ;
    
}
.horizontal-line {
    position: relative;
    top: 20px;
}

hr {
    border: none;
    border-top: 2px solid #b1b0b0; 
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 28px;
    text-transform: uppercase;
    color: #999;

}

.container{
    display: flex;
    margin-top: 70px;
    gap: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 40px;
    padding-right: 40px;

   

}

.container>div{
    flex: 1;
    padding: 20px;
    text-align: center;
    
}

.container>div>img{
   height: auto;
    width: 100px;
    overflow: hidden;
    position: relative;
    display: inline;
    border-radius: 50%;

}

.title
{
    text-transform: uppercase;
    font-weight: 600;

}

.sampletext{
    text-align: left;

}
